$startButtonBackground: #55a79d;
$splitButtonBackground: #f09e26;
$pauseButtonBackground: #e75f7f;
$resetButtonBackground: #4487d0;
$buttonDisbledBackground: #f5f8fb;
$buttonTextColorOnSpecificBg: #ffffff;
$buttonTextColorOnTransparentBg: #bcbcbc;

$buttonBorderColorOnTransparentBg: #c1c2c2;