$startButtonBackground: #55a79d;
$splitButtonBackground: #f09e26;
$pauseButtonBackground: #e75f7f;
$resetButtonBackground: #4487d0;

$buttonTextColorOnSpecificBg: #ffffff;
$buttonTextColorOnTransparentBg: #bcbcbc;

$buttonBorderColorOnTransparentBg: #bcbcbc;