@import '../constants/styles.scss';

.button{
    padding: 11px;
    height: 100px;
    width: 100px;
    border: 0px;
    border-radius: 50px;
    font-size: 20px;
    & :focus{
        outline: none;
    }
}
.buttonContainer{
    padding: 0px;
    @extend .button;
    & [id='start'] {
        background: $startButtonBackground;
        color: $buttonTextColorOnSpecificBg;
    }
    & [id='pause'] {
        background: $pauseButtonBackground;
        color: $buttonTextColorOnSpecificBg;
    }
    & [id='split']{
        background: $splitButtonBackground;
        color: $buttonTextColorOnSpecificBg;
    }
    & [id='reset']{
        background: $resetButtonBackground;
        color: $buttonTextColorOnSpecificBg;
    }
    & [class~='disabled'] {
        background: $buttonDisbledBackground;
        color: $buttonTextColorOnTransparentBg;
        border: 2px solid $buttonBorderColorOnTransparentBg;
        cursor:not-allowed;
    }
}

